:root
{
  --colorPrimary: #011b27;
  --colorTitle: #6d7278;
  --colorSubtitle: #69696e;
  --colorBackground: #000000 ;
  --colorIcon: #999999;
  --colorRedSalmon: #fa6666;
  --colorWhite: #FFFFFF;
  --colorLine: #33A8DB;
}
