<nav></nav>
    <div class="container">
        <loading *ngIf="isLoading"></loading>

        <div class="img-home">
            <img style="background-color: transparent;" class="col-12 col-lg-5 col-sm-12 fade-in" src="../../../assets/imgs/search-home-transparent.png" alt="">
        </div>

        <div class="search-section col-12 fade-in">
            <div [formGroup]="form" class="input-wrapper col-12 col-lg-4 col-sm-12 m-t-45">

                <fa-icon class="icon" [icon]="faMagnifyingGlass"></fa-icon>
                <input formControlName="inputNameActions" class="form-control" type="text" placeholder="Ex: João">

                <section class="secondary-section col-12" >

                    <div class=" col-6 col-lg-4 col-sm-3">
                        <input formControlName="inputMinAgeActions" class="form-control" type="number" placeholder="Idade Min">
                    </div>
                    <div class="col-6 col-lg-4 col-sm-3">
                        <input formControlName="inputMaxAgeActions" class="form-control" type="number" placeholder="Idade Max">
                    </div>

                </section>

                <section class="tertiary-section col-12">
                    <div class="custom-radio col-6 col-lg-3 col-sm-6">
                        <input formControlName="gender" type="radio" id="masc" name="gender" value="MASCULINO">
                        <label for="masc">MASCULINO</label>
                    </div>
                    <div class="custom-radio col-6 col-lg-3 col-sm-6">
                        <input formControlName="gender" type="radio" id="fem" name="gender" value="FEMININO">
                        <label for="fem">FEMININO</label>
                    </div>
                </section>

                <section class="clean-section col-12">
                    <button (click)="resetForm()" class="clean-button btn btn-primary col-6 col-lg-3 col-sm-2">Limpar</button>
                </section>

            </div>
        </div>

        <div class="list-container col-12" *ngIf="peoples.length > 0 ;else empty">
            <div *ngFor="let item of this.peoples" class="col-lg-3">
                <div class="details" (click)="navigateToDetails(item.id)">
                    <person-card [person]="item"></person-card >
                </div>
            </div>

        </div>
        
        <div [ngClass]="{'hide': peoples.length <= 0}" class="paginated-buttons">
            <button class="pagination-button" (click)="prevPage()" [disabled]="currentPageIndex === 0 "><fa-icon class="icon" [icon]="faChevronLeft"></fa-icon> Página Anterior</button>
            <button class="pagination-button" (click)="nextPage()" [disabled]="peoples.length <= 0 || pageFromApi === totalPagesFromApi - 1">Próxima Página <fa-icon class="icon" [icon]="faChevronRight"></fa-icon></button>
        </div>
    </div>

<footer></footer>


<ng-template #empty>
    <div class="not-found fade-in">
      <div class="card  col-12 col-lg-5 col-sm-12 m-t-45">
        <img src="../../../assets/imgs/empty.svg" alt="Vázio">
        <p class="error-text">Nenhum resultado encontrado!</p>
      </div>
    </div>
  </ng-template>
