.header{
    min-height: 10vh;
    background-color: var(--colorPrimary);
    background: linear-gradient(#000000 0%,var(--colorPrimary) 100%);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: var(--colorLine)  solid 1px;
  
    .title{
      margin-left: 10px;
      margin-bottom: 0;
      margin-right: 10px;
      font-size: 3rem;
      line-height: 2.935rem;
      background: linear-gradient(to bottom, #33A8DB, #1472B7);
      color: transparent;
      background-clip: text;
      display: inline-block;
      font-weight: 900;
    }
  
    .title:hover{
      cursor: pointer;
    }
  }

  